body {
  font-family: "Verdana";
  font-weight: bold;
  font-size: 4rem;
  background-color: #E8E9EB;
  color: #190E4F;
  text-align: center;
}

h1 {
  color: #2667FF;
  text-shadow: 3px 3px #190E4F;
}

.patterns{
  font-size: 3rem;
  color: #190E4F;
}

.set {
  margin: 10% auto;
}

.pressed {
  box-shadow: 0 3px 4px 0 #2667FF;
  opacity: 0.5;
}

.drum {
  outline: none;
  border: 10px inset #951A35;
  font-size: 5rem;
  color:#2667FF;
  text-shadow: 3px 3px #190E4F;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
}


.a {
  background-image : url("./images/kick.png");
}

.s {
  background-image : url("./images/snare.png");
}

.j {
  background-image : url("./images/tom1.png");
}

.k {
  background-image : url("./images/tom2.png");
}

.l {
  background-image : url("./images/crash.png");
}